# Ignore all
*

#But allow
!.gitignore

!waybar
!waybar/config
!waybar/style.css

!wofi
!wofi/config
!wofi/style.css

!foot
!foot/foot.ini

!wezterm
!wezterm/wezterm.lua

!sway
!sway/config

!neofetch
!neofetch/config.conf

!nvim
!nvim/**
nvim/lazy-lock.json

!wallpapers
!wallpapers/**

!yt-dlp
!yt-dlp/config

!mpv
!mpv.conf

!bat
!bat/config
!bat/themes
!bat/themes/*

!wlogout
!wlogout/layout
!wlogout/style.css
