* {
    /* outline-style:none; */
   /* border:none; */
  /* background:transparent; */
 font-family:JetBrainsMono Nerd Font;
font-size:14px; 
   }

window {
  margin:0px;
  border:1px solid #88c0d0;
  /* background-color:#2e3440; */
}

#input {
  margin:5px;
  border:none;
  /* color:f8f8f2; */
  /* background-color:#44475a; */
}

#inner-box {
     /* margin:5px; */
     /* border:none; */
     /* background-color:#282a36; */
}

#outer-box {
     /* margin:5px; */
     /* border:none; */
     /* background-color:#282a36; */
}

#scroll {
     /* margin:0px; */
     /* border:none; */
}

#text {
     margin-left:10px;
     margin-top:5px;
     /* border:none; */
     /* color:#f8f8f2; */
}

#img {
     margin-top:5px;
     /* border:none; */
     margin-left:10px;
}

#entry > * {
  /* color:#f8f8f2; */
}

#entry:selected {
     /* background-color:#44475A; */
}

#entry:selected #text {
     /* font-weight:bold; */
}
